body {
}

table {
    margin: 0 auto;
}

.users-container {
    
}

.users-header {
}

.user-row:nth-child(2n) {
    background-color: lightgray;
}

.user-row:hover {
    background-color: #002F34;
    color: #FFF;
    cursor: pointer;
}

td:not(:last-child) {
    border-right: 1px solid gray;
    padding-right: 5px;
}

th {
    border: 1px solid gray;
    padding: 3px;
}

.td-number {
    text-align: center;
}